package main

import (
	"fmt"
	"net/http"
)

func handler(w http.ResponseWriter, r *http.Request) {
    str := fmt.Sprintf("Hello from %s", "{{ ansible_hostname }}")
	fmt.Fprintf(w, str)
}

func main() {
	http.HandleFunc("/", handler)
	fmt.Println("Server listening on port 8080...")
	http.ListenAndServe(":8080", nil)
}